@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
.aside_items {
  min-width: 290px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #333333;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px;
  z-index: 999;
  overflow-y: auto;
}
.aside_items a {
  color: white;
  text-decoration: none;
  outline: none;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 20px;
  padding: 10px;
  letter-spacing: 0.01em;
  position: relative;
}
.aside_items a::before{
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: yellow;
  transition: 0.3s ease-out;
}
.aside_items a:first-child::before{
  display: none;
}
.aside_items .active::before{
  width: 100%;
}