.aside_items{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: lightskyblue;
    height: 100%;
    position: sticky;
    top: 0;
    left: 0;
    padding: 10%;
}
.aside_items a{
    font-size: 16px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    outline: none;
    border: 1px solid transparent;
    padding: 8px;
}
.aside_items .active{
    border: 1px solid;
}